{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "tailwindFunctions": ["cn", "clsx", "cva", "twMerge", "twJoin"],
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": { "proseWrap": "always" }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": { "singleQuote": false }
    }
  ]
}
